.Banner {
    width: 100%;
    height: 400px;
}


.Container {

    > h1 {
        font-size: 3rem;
        font-weight: bold;
        color: var(--grey-200);

        margin: 2rem 0 1.5rem;
    }

    .PostInfo  {
        display: flex;
        gap: 1.5rem;

        time, address, p {
            display: flex;
            align-items: center;

            svg{
                margin-right: 0.5rem;
            }
        }
    }

    .DateUpdate {
        margin-top: 1rem;
    }

    .Content{
        a {
            color: var(--pink-700);
        }

        p {
            line-height: 1.5rem;
            
            & + p {
                margin-top: 1rem;
            }
        
        }

        h2 {
            margin: 3rem 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--grey-200)
        }
    }

}


.Footer {
    
    .Hr {
        margin: 2rem 0 3rem;
        border: 1px solid var(--grey-800);
    }

    .PostLink {
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            background: none;

            color: var(--grey-200);

            span {
                display: flex;

                color: var(--pink-700);
                
                font-weight: bold;

                margin-top: 0.5rem;
            }
        }

        margin-bottom: 2rem;
    }
}
